{% load static sidebar %}
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Builder CI</sup></div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseBuild" aria-expanded="true"
            aria-controls="collapseBuild">
            <i class="fas fa-fw fa-cog"></i>
            <span>Builds</span>
        </a>
        <div id="collapseBuild" class="collapse {% if request.resolver_match.url_name|show_menu:'builds' %}show{% endif %}" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                {% sidebar_item 'Request' 'request' 'build.view_buildrequest' %}
                {% sidebar_item 'Builds' 'build' 'build.view_build' %}
                {% sidebar_item 'Containers' 'builtcontainer' 'container.view_builtcontainer' %}
            </div>
        </div>
    </li>

    <!-- Nav Item - Pages Collapse Menu -->
    {% if perms.container.view_container or perms.flow.view_method or perms.flow.view_flow %}
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseConfig" aria-expanded="true"
            aria-controls="collapseConfig">
            <i class="fas fa-fw fa-cog"></i>
            <span>Configuration</span>
        </a>
        <div id="collapseConfig" class="collapse {% if request.resolver_match.url_name|show_menu:'config' %}show{% endif %}" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                {% sidebar_item 'Secret' 'secret' 'secret.view_secret' %}
                {% sidebar_item 'Containers' 'configcontainer' 'container.view_container' %}
                {% sidebar_item 'Method' 'method' 'flow.view_method' %}
                {% sidebar_item 'Flows' 'flow' 'flow.view_flow' %}
            </div>
        </div>
    </li>
    {% endif %}

</ul>