{% extends "layouts/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">{{title}}</h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-body">
            <form id="balance" method="post">
                {% csrf_token %}
                {{ form|crispy }}
                
                <hr>
                {{child_formset.management_form}}
                {% if child_formset %}
                    {% for formset in child_formset %}
                    <div class="subbalance-form">
                        {{formset|crispy}}
                        <hr>
                    </div>
                    {% endfor %}
                {% endif %}
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            <!-- Submit and reset buttons -->
        </div>
    </div>

</div>
<!-- /.container-fluid -->
 
{% endblock content %}
