{% extends "table.html" %}
{% load table %}

{% block thead %}
    <tr>
        {% for field in field_list %}
        <th>{{ field|field_name_to_label }}</th>
        {% endfor %}    
        <th></th>
    </tr>
{% endblock thead %}
{% block tbody %}
    {% for obj in object_list %}
    <tr>
        {% for field in field_list %}
        <td>{{ obj|get_field_value:field|linebreaks }}</td>
        {% endfor %}    
        <td>
            {% include 'includes/actions.html' %}
        </td>
    </tr>
    {% endfor %}
{% endblock tbody %}

