{% extends "layouts/base.html" %}
{% load static %}
{% load table %}

{% block content %}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">{{title}}</h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-body">
            {% if create_url %}
            <a href="{% url create_url %}" class="btn btn-success btn-icon-split mb-4">
                <span class="icon text-white-50">
                    <i class="fas fa-plus-circle"></i>
                </span>
                <span class="text">Create</span>
            </a>
            {% endif %}

            {% include 'includes/filter.html' %}

            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            {% for field in field_list %}
                            <th>{{ field|field_name_to_label }}</th>
                            {% endfor %}    
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for obj in object_list %}
                        <tr>
                            {% for field in field_list %}
                            <td>{{ obj|get_field_value:field|linebreaks }}</td>
                            {% endfor %}    
                            <td>
                                {% if update_url %}
                                <a href="{% url update_url obj.pk %}" class="btn btn-primary btn-icon-split">
                                    <span class="icon text-white-50">
                                        <i class="fas fa-pencil"></i>
                                    </span>
                                    <span class="text">Edit</span>
                                </a>
                                {% endif %}
                                {% if delete_url %}
                                <a href="{% url delete_url obj.pk %}" class="btn btn-danger btn-icon-split">
                                    <span class="icon text-white-50">
                                        <i class="fas fa-trash"></i>
                                    </span>
                                    <span class="text">Delete</span>
                                </a>
                                {% endif %}
                                {% if view_url %}
                                <a href="{% url view_url obj.pk %}" class="btn btn-info btn-icon-split">
                                    <span class="icon text-white-50">
                                        <i class="fas fa-eye"></i>
                                    </span>
                                    <span class="text">View</span>
                                </a>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% include 'includes/pagination.html' %}
        </div>
    </div>

</div>
<!-- /.container-fluid -->
 
{% endblock content %}

