# Uncomment if you want to run in debug mode
DEBUG=True

# Config location
CONFIG_LOCATION=config.ini

# Override Podman URL
# default: "unix:///run/podman/podman.sock"
#PODMAN_URL="unix:///run/user/1000/podman/podman.sock"
#PODMAN_PATH="/run/user/1000/podman/podman.sock"

# Redmine info
REDMINE_URL=http://redmine
REDMINE_KEY=

# Database configuration
DATABASE_NAME=buider
DATABASE_USER=buider
DATABASE_PASSWORD=buider
DATABASE_HOST=127.0.0.1
DATABASE_PORT=5432

ALLOWED_HOSTS=127.0.0.1