{% extends "layouts/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Flow</h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Flow information</h6>
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <!-- Submit and reset buttons -->
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>

</div>
<!-- /.container-fluid -->
 
{% endblock content %}

{% block scripts %}
<script src="{% static 'js/demo/datatables-demo.js' %}"></script>
{% endblock scripts %}