{% if view_url %}
<a href="{% url view_url obj.pk %}" class="btn btn-info btn-icon-split mb-1">
    <span class="icon text-white-50">
        <i class="fas fa-eye"></i>
    </span>
    <span class="text">View</span>
</a>
{% endif %}
{% if update_url %}
<a href="{% url update_url obj.pk %}" class="btn btn-primary btn-icon-split mb-1">
    <span class="icon text-white-50">
        <i class="fas fa-pencil"></i>
    </span>
    <span class="text">Edit</span>
</a>
{% endif %}
{% if delete_url %}
<a href="{% url delete_url obj.pk %}" class="btn btn-danger btn-icon-split mb-1">
    <span class="icon text-white-50">
        <i class="fas fa-trash"></i>
    </span>
    <span class="text">Delete</span>
</a>
{% endif %}