
.bg-login-image {
  background: url("https://images.unsplash.com/photo-1604871000636-074fa5117945?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-position-x: 0%;
  background-position-y: 0%;
  background-size: auto;
  background-position: center;
  background-size: cover;
}

.task-logs {
  height: 250px;
  overflow-y: auto;
  overflow-x: hidden;
  white-space: pre-wrap;
  word-wrap: break-word;
  border: 1px solid #ccc;
  padding: 10px;
  background-color: black;
  color: white;
}