[Unit]
Description=Builder CI API
After=network.target

[Service]
User=root
WorkingDirectory=/usr/share/builder-ci/
ExecStart=/usr/bin/gunicorn3 --workers 4 --bind 127.0.0.1:5000 wsgi:app

[Install]
WantedBy=multi-user.target
