[Unit]
Description=Builder CI Watcher
After=network.target

[Service]
User=root
WorkingDirectory=/usr/share/builder-ci/
ExecStart=/usr/bin/python3 watcher.py

[Install]
WantedBy=multi-user.target