Source: builder-ci
Section: unknown
Priority: optional
Maintainer: Olivier Bitsch <olivier.b@iabsis.com>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
 python3-pip,
 python3-venv
Standards-Version: 4.6.2
Homepage: <insert the upstream URL, if relevant>
#Vcs-Browser: https://salsa.debian.org/debian/builder-ci
#Vcs-Git: https://salsa.debian.org/debian/builder-ci.git

Package: builder-common
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 python3,
 git
Description: Builder CI - Common files
 Shared files for builder-ci and builder-agent.

Package: builder-ci
Architecture: all
Depends:
 ${misc:Depends},
 builder-common (= ${binary:Version})
Description: Builder CI - Web server
 Django web server (daphne) for Builder CI.

Package: builder-agent
Architecture: all
Depends:
 ${misc:Depends},
 builder-common (= ${binary:Version})
Description: Builder CI - Agent
 Celery worker and beat scheduler for Builder CI.
