{% extends "table.html" %}
{% load static %}
{% load table %}
{% load build %}
{% load humanize %}

{% block thead %}
<tr>
    <th>Id</th>
    <th>Name</th>
    <th>Options</th>
    <th>Hash</th>
    <th>Status</th>
    <th>Created at</th>
    <th>Updated at</th>
    <th></th>
</tr>
{% endblock thead %}

{% block tbody %}
    {% for obj in object_list %}
    <tr>
        <td>{{ obj.pk }}</td>
        <td>{{ obj.name }}</td>
        <td>{{ obj.options }}</td>
        <td>{{ obj.hash|slice:":12" }}</td>
        <td>{{ obj.status|status_badge }}</td>
        <td>{{ obj.created_at|naturaltime }}</td>
        <td>{{ obj.updated_at|naturaltime }}</td>
        <td>
            {% include 'includes/actions.html' %}
            <a href="{% url 'builtconainer_rebuild' obj.pk %}" class="btn btn-primary btn-icon-split mb-1">
                <span class="icon text-white-50">
                    <i class="fas fa-refresh"></i>
                </span>
                <span class="text">
                    Rebuild
                </span>
            </a>
        </td>
    </tr>
    {% endfor %}
{% endblock tbody %}