{% extends "layouts/base.html" %}
{% load static %}
{% load table %}
{% load build %}
{% load humanize %}

{% block content %}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">{{title}}</h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-body">
            {% if create_url %}
            <a href="{% url create_url %}" class="btn btn-success btn-icon-split mb-4">
                <span class="icon text-white-50">
                    <i class="fas fa-plus-circle"></i>
                </span>
                <span class="text">Create</span>
            </a>
            {% endif %}
            {% include 'includes/filter.html' %}
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Options</th>
                            <th>Hash</th>
                            <th>Status</th>
                            <th>Created at</th>
                            <th>Updated at</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for obj in object_list %}
                        <tr>
                            <td>{{ obj.pk }}</td>
                            <td>{{ obj.name }}</td>
                            <td>{{ obj.options }}</td>
                            <td>{{ obj.hash|slice:":12" }}</td>
                            <td>{{ obj.status|status_badge }}</td>
                            <td>{{ obj.created_at|naturaltime }}</td>
                            <td>{{ obj.updated_at|naturaltime }}</td>
                            <td>
                                {% include 'includes/actions.html' %}
                                <a href="{% url 'builtconainer_rebuild' obj.pk %}" class="btn btn-primary btn-icon-split">
                                    <span class="icon text-white-50">
                                        <i class="fas fa-refresh"></i>
                                    </span>
                                    <span class="text">
                                        Rebuild
                                    </span>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% include 'includes/pagination.html' %}
        </div>
    </div>

</div>
<!-- /.container-fluid -->

{% endblock content %}